body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}

#nav a {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  font-size: 14px;
}

#text {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#details div {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  background-color: red;
}
